.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 80vh;
  background: black;
}

.letter {
  font-size: 40px;
  font-weight: 600;
  color: #ffcc00;
}
